# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
.env.local
.env.production
server/.env
client/.env
server/firebase-service-account.json

# Build outputs
dist/
client/dist/

# OS files
.DS_Store
Thumbs.db
